* {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.h1 {
    text-align: center;
}

.inputText {
    padding: 20px;
    display: block;
    float: left;
}

.inputText input {
    padding: 1em;
    border-radius: 5px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
}

button {
    padding: 5px;
    margin: 20px 20px 0 0;
    display: block;
    float: left;
}

button {
    border-style: none;
    border-radius: 7px;
    background-color: rgb(231, 247, 241);
}

button:hover {
    color: white;
    background-color: rgb(31, 138, 40);
}